<div th:insert="~{include/Header.html}" th:remove="tag"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d7c247130688fc47e72341dd6fa5081c"></script>
<script>
    let recomNum = [[${param.recomNum}]]

$(function () {
    let trmtSeq = "[[${recommendMenu?.trmt_seq}]]";
    let trtSeq = "[[${recommendMenu?.trt_seq}]]";
    let trtRestNameSh = "[[${recommendMenu?.trt_rest_name}]]";
    let trmtMenuNameSh = "[[${recommendMenu?.trmt_menu_name}]]";
    let restAddress = "[[${recommendMenu?.trt_addr}]]";
    $(".nextBtn").on("click",function () {
        $("input[name=recomNum]").val(recomNum);
        $("#frmList").append("<input type=\"hidden\" name=\"trmt_seqArr\" value='"+trmtSeq+"'>")
        $("#frmList").append("<input type=\"hidden\" name=\"trmt_menu_nameSh\" value='"+trmtMenuNameSh+"'>")


        // $("input[name=trmt_seq]").val(trmtSeq);
        $("#frmList").submit();
    })
    $(".restExcept").on("click",function () {
        $("input[name=recomNum]").val(recomNum);
        $("#frmList").append("<input type=\"hidden\" name=\"trt_seqArr\" value='"+trtSeq+"'>")
        $("#frmList").append("<input type=\"hidden\" name=\"trt_rest_nameSh\" value='"+trtRestNameSh+"'>")

        // $("input[name=trmt_seq]").val(trmtSeq);
        $("#frmList").submit();
    })
    $(".resetBtn").on("click",function () {
        console.log("gdgd")
        recomNum = 1;
        $("input[name=recomNum]").val(recomNum);
        location.replace('/restMenu/recommendMenu.do?recomNum=1');

    })
    $.ajax({
        url : "https://dapi.kakao.com/v2/local/search/address.json",
        headers : {"Authorization": "KakaoAK 16fb04781943e64fdcd7acf19c7170db"},
        type : "get",
        data : {"query" : restAddress},
        dataType : "json",
        success : mapView,
        error : function () {
            if([[${not #strings.isEmpty(recommendMenu?.trmt_seq)}]]) {
                modalMess("실패 메시지", "위치를 불러오는데 실패하였습니다.", "danger");
            }
        }


    });
});

    function mapView(data) {

        var x = data.documents[0].x;
        var y = data.documents[0].y;

        console.log(x)
        console.log(y)


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(y, x), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치입니다
        var position =  new kakao.maps.LatLng(y, x);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: position,
            clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
        });

        // 아래 코드는 위의 마커를 생성하는 코드에서 clickable: true 와 같이
        // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
        // marker.setClickable(true);

        // 마커를 지도에 표시합니다.
        marker.setMap(map);

        // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
        var iwContent = '<div style="padding:5px;">[[${recommendMenu?.trt_rest_name}]]</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        infowindow.open(map, marker);
        // 마커에 클릭이벤트를 등록합니다
        // kakao.maps.event.addListener(marker, 'click', function() {
        //     // 마커 위에 인포윈도우를 표시합니다
        //
        // });
    }
</script>
<style>
    ul {
        justify-content: center;
    }
    .recommendArea {
        position: relative;
        width: 70%;
    }
    #title {
        font-size: 1.5rem;
        background: greenyellow;
        border-radius: 15px;
        width: 200px; height:50px;
        text-align: center; line-height: 50px;
        transition: all 0.5s;
        cursor: pointer;
    }
    #title:hover {
        background: dodgerblue;
        color: white;
    }

    .detailText {
        padding-top: 5px;
        width: 100%; height: 160px;
        background: #d9d9d9;
        border-radius: 30px;
        text-align: left;

    }
    .detailText p {
        margin: 5px;
        text-indent: 20px;
    }

    #midTitle {
        font-size: 2rem;
    }
    .parentBtnArea {
        position: relative;
        width: 100%; height: 50px;
    }
    .moveArea {
        position: absolute;
        right: 1px; display: flex;
    }
    .nextBtn, .resetBtn, .restExcept{
        width: 100px; height: 40px;
        font-size: 1.2rem;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: white;
        cursor: pointer;
        transition: all 0.5s;
        margin-left: 10px;

    }
    .nextBtn {
        background: dodgerblue;
    }
    .nextBtn:hover {
        background: #55a9ff;
    }
    .restExcept {
        background: #fffc6a;
        color: black;

    }
    .restExcept:hover {
        background: #fffdd3;
    }
    .resetBtn {
        background: #fc5069;
    }
    .resetBtn:hover {
        background: #ff9cad;
    }
    .subMenuText {
        font-size: 2rem;
    }
</style>
<form method="get" id="frmList">
    <input type="hidden" name="trt_seq" th:value="${recommendMenu?.trt_seq}">
    <th:block th:each="list : ${param?.trmt_seqArr}">
        <input type="hidden" name="trmt_seqArr" th:value="${list}">
    </th:block>
    <th:block th:each="list : ${param?.trt_seqArr}">
        <input type="hidden" name="trt_seqArr" th:value="${list}">
    </th:block>

    <input type="hidden" name="recomNum">
    <div class="form-group">
        <div class="container pt-5 recommendArea">
            <p id="title">오늘의 메뉴 추천</p>
            <div class="detailText">
                <p>1. 한번 추천받고 다음추천 버튼을 누르면 해당메뉴는 추천리스트에서 제외가 되며 어떤것을 추천 받았는지 리스트에 나타납니다.</p>
                <p>2. 식당 제외 버튼을 누르게 되면 해당 메뉴의 식당 메뉴 전체가 추천메뉴에서 제외 됩니다.</p>
                <p>3. 리셋버튼을 누르게 되면 식당&메뉴 제외리스트가 초기화 되어 다시 추천 받습니다.</p>
                <p>4. 사용자 개인 데이터에 의한 맞춤형 추천 서비스가 제공 됩니다.</p>
                <p>5. 메뉴의 추천은 사용자가 음식을 안먹은지 3일된 메뉴 이면서 평점이 3점이상 식당평점3점 평균메뉴평점 3점 이상 조건으로 맨 처음으로 추천됩니다.</p>
            </div>
            <th:block th:if="${not #strings.isEmpty(recommendMenu)}">
                <div class="exeptArea">
                    <span th:if="${not #lists.isEmpty(param?.trmt_menu_nameSh)}">추천받아본 메뉴 : </span>
                    <th:div th:each="list, listStatus : ${param?.trmt_menu_nameSh}">
                        [<span th:text="${listStatus.count}"></span>.&nbsp;<span th:text="${list}"></span>]
                        <input type="hidden" name="trmt_menu_nameSh" th:value="${list}">
                    </th:div>

                    <br>
                    <span th:if="${not #lists.isEmpty(param?.trt_rest_nameSh)}">추전 제외한 식당 : </span>
                    <th:div th:each="list, listStatus : ${param?.trt_rest_nameSh}">
                        [<span th:text="${listStatus.count}"></span>.&nbsp;<span th:text="${list}"></span>]
                        <input type="hidden" name="trt_rest_nameSh" th:value="${list}">

                    </th:div>


                </div>
                <p id ="midTitle">오늘의 추천 메뉴는[<span style="color: #fc5069">[[${recommendMenu?.trt_rest_name}]]</span>] 의 [<span style="color: deepskyblue">[[${recommendMenu?.trmt_menu_name}]]</span>] 입니다!!!</p>


                <table class="table table-hover">
                    <thead>

                    <tr class="table-active">
                        <th scope="col">추천메뉴</th>
                        <th scope="col">식당이름</th>
                        <th scope="col">가격</th>
                        <th scope="col">나의 메뉴 별점</th>
                        <th scope="col">평균 메뉴 별점</th>
                        <th scope="col">평균 식당 별점</th>
                        <th scope="col">최근 먹은 일자</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">

                            <td th:text="${recommendMenu?.trmt_menu_name}"></td>
                            <td th:text="${recommendMenu?.trt_rest_name}"></td>
                            <td th:text="${recommendMenu?.trmt_price_comma}"></td>
                            <td th:text="${recommendMenu?.trst_star_score}"></td>
                            <td th:text="${recommendMenu?.trst_menu_avg_score}"></td>
                            <td th:text="${recommendMenu?.trst_rest_avg_score}"></td>
                            <td th:text="${recommendMenu?.trst_today_ymd}"></td>


                        </tr>
                    </tbody>
                </table>

                <div class="parentBtnArea">
                    <div class="moveArea">
                        <div class="resetBtn" th:text="리셋"></div>
                        <div class="restExcept" th:text="식당제외"></div>
                        <div class="nextBtn" th:text="다음추천"></div>
                    </div>
                </div>

                <th:block th:if="${not #lists.isEmpty(recommendMenuAllList)}">
                <table class="table table-hover">
                    <thead>

                    <tr class="table-active">
                        <th scope="col">서브메뉴</th>
                        <th scope="col">식당이름</th>
                        <th scope="col">가격</th>
                        <th scope="col">나의 메뉴 별점</th>
                        <th scope="col">평균 메뉴 별점</th>
                        <th scope="col">평균 식당 별점</th>
                        <th scope="col">최근 먹은 일자</th>
                    </tr>
                    </thead>
                    <tbody>

                    <p class="subMenuText">추천메뉴의 식당메뉴</p>
                        <th:block th:each="list : ${recommendMenuAllList}">
                            <tr class="table-light">

                                <td th:text="${list.trmt_menu_name}"></td>
                                <td th:text="${list.trt_rest_name}"></td>
                                <td th:text="${list.trmt_price_comma}"></td>
                                <td th:text="${list.trst_star_score}"></td>
                                <td th:text="${list.trst_menu_avg_score }"></td>
                                <td th:text="${list.trst_rest_avg_score}"></td>
                                <td th:text="${list.trst_today_ymd}"></td>
                            </tr>
                        </th:block>
                    </th:block>
                    </tbody>
                </table>

                <div id="map" style="width:100%;height:350px;"></div>
            </th:block>
            <th:block th:if="${#strings.isEmpty(recommendMenu)}">
                <p style="font-size: 3rem">추천할 메뉴가 없습니다.</p>
                <div class="resetBtn" th:text="리셋"></div>
            </th:block>


        </div>
    </div>
</form>
<div th:insert="~{include/footter.html}" th:remove="tag"></div>
