<div th:insert="~{/include/Header.html}" th:remove="tag"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d7c247130688fc47e72341dd6fa5081c"></script>
<script>
    let recomNum = [[${param.recomNum}]]
$(function () {
    let restAddress = "[[${recommendMenu.trt_addr}]]"
    $(".nextBtn").on("click",function () {
        recomNum += 1;
        $("input[name=recomNum]").val(recomNum);
        $("#frmList").submit();
    })
    $(".resetBtn").on("click",function () {
        recomNum = 1;
        $("input[name=recomNum]").val(recomNum);
        $("#frmList").submit();
    })
    $.ajax({
        url : "https://dapi.kakao.com/v2/local/search/address.json",
        headers : {"Authorization": "KakaoAK 16fb04781943e64fdcd7acf19c7170db"},
        type : "get",
        data : {"query" : restAddress},
        dataType : "json",
        success : mapView,
        error : function () {
            modalMess("실패 메시지", "위치를 불러오는데 실패하였습니다.", "danger");
        }


    });
});

    function mapView(data) {

        var x = data.documents[0].x;
        var y = data.documents[0].y;

        console.log(x)
        console.log(y)


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(y, x), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치입니다
        var position =  new kakao.maps.LatLng(y, x);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: position,
            clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
        });

        // 아래 코드는 위의 마커를 생성하는 코드에서 clickable: true 와 같이
        // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
        // marker.setClickable(true);

        // 마커를 지도에 표시합니다.
        marker.setMap(map);

        // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
        var iwContent = '<div style="padding:5px;">[[${recommendMenu.trt_rest_name}]]</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        infowindow.open(map, marker);
        // 마커에 클릭이벤트를 등록합니다
        // kakao.maps.event.addListener(marker, 'click', function() {
        //     // 마커 위에 인포윈도우를 표시합니다
        //
        // });
    }
</script>
<style>
    ul {
        justify-content: center;
    }
    .recommendArea {
        position: relative;
        width: 70%;
    }
    #title {
        font-size: 3rem;
        background: greenyellow;
        border-radius: 15px;
        width: 400px; height: 100px;
        text-align: center; line-height: 100px;
        transition: all 0.5s;
        cursor: pointer;
    }
    #title:hover {
        background: dodgerblue;
        color: white;
    }
    .searchBox {
        transition: all 0.5s;
    }
    .searchBox:hover {
        border-radius: 40px;

    }
    .text-overflow {
        max-width: 150px; /* 표시하고자 하는 최대 너비 */
        white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
        overflow: hidden; /* 넘치는 텍스트를 숨김 */
        text-overflow: ellipsis; /* 넘치는 텍스트에 ... 추가 */
    }
    #midTitle {
        font-size: 2rem;
    }
    .moveArea {
        position: absolute;
        right: 10px; display: flex;
    }
    .nextBtn, .resetBtn{
        width: 100px; height: 40px;
        font-size: 1.2rem;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: white;
        cursor: pointer;
        transition: all 0.5s;

    }
    .nextBtn {
        background: dodgerblue;
    }
    .nextBtn:hover {
        background: #55a9ff;
    }
    .resetBtn {
        background: #fc5069;
    }
    .resetBtn:hover {
        background: #ff9cad;
    }
</style>
<form method="get" id="frmList">
    <input type="hidden" name="recomNum">
    <div class="form-group">
        <div class="container pt-5 recommendArea">
            <p id="title">오늘의 메뉴 추천</p>
            <p id ="midTitle">오늘의 [[${param.recomNum}]]번째 추천 메뉴</p>
            <th:block th:if="${not #strings.isEmpty(recommendMenu)}">
                <table class="table table-hover">
                    <thead>

                    <tr class="table-active">
                        <th scope="col">추천메뉴</th>
                        <th scope="col">식당이름</th>
                        <th scope="col">가격</th>
                        <th scope="col">나의 메뉴 별점</th>
                        <th scope="col">평균 메뉴 별점</th>
                        <th scope="col">평균 식당 별점</th>
                        <th scope="col">최근 먹은 일자</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            <td th:text="${recommendMenu.trmt_menu_name}"></td>
                            <td th:text="${recommendMenu.trt_rest_name}"></td>
                            <td th:text="${recommendMenu.trmt_price_comma}"></td>
                            <td th:text="${recommendMenu.trst_star_score}"></td>
                            <td th:text="${recommendMenu.trst_menu_avg_score}"></td>
                            <td th:text="${recommendMenu.trst_rest_avg_score}"></td>
                            <td th:text="${recommendMenu.trst_today_ymd}"></td>


                        </tr>
                    </tbody>
                </table>

                <div id="map" style="width:100%;height:350px;"></div>
            </th:block>
            <th:block th:if="${#strings.isEmpty(recommendMenu)}">
                추천할 메뉴가 없습니다.
            </th:block>

            <div class="moveArea">
                <div class="resetBtn">리셋</div>
                <div class="nextBtn" th:text="다음추천"></div>
            </div>
        </div>
    </div>
</form>
<div th:insert="~{/include/footter.html}" th:remove="tag"></div>
