<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository">
    <sql id="where">
        WHERE 1 = 1
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(search)">
            AND	UPPER(T1.TRMT_MENU_NAME) || UPPER(T1.TRT_REST_NAME)  LIKE '%' || UPPER(#{search}) || '%'
        </if>
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(startPriceSh)">
            AND     T1.TRMT_PRICE <![CDATA[>=]]> #{startPriceSh}
        </if>
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(endPriceSh)">
            AND     T1.TRMT_PRICE <![CDATA[<=]]> #{endPriceSh}
        </if>
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(trt_regiSh)">
            AND     T1.TRT_REGI = #{trt_regiSh}
        </if>
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(trt_food_typeSh)">
            AND     T1.TRT_FOOD_TYPE = #{trt_food_typeSh}
        </if>

    </sql>

    <select id="count" resultType="int">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.count[목록]*/
        SELECT COUNT(1)
        FROM(
                SELECT	*
                FROM	TM_REST_MENU_TBL TRMT
                LEFT JOIN TM_REST_TBL TRT
                ON		TRMT.TRT_SEQ = TRT.TRT_SEQ
            )T1
        <include refid="where"/>
    </select>

    <select id="list" resultType="com.example.todaysmenu.restaurant.menu.entity.RestMenuDTO">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.list[목록]*/
        SELECT  ROWNUM AS data_seq,T1.*
        FROM (
                SELECT  TRMT.TRMT_SEQ
                ,       TRMT.TRT_SEQ
                ,       TRMT.TRMT_MENU_NAME
                ,       TRMT.TRMT_PRICE
                ,       TRMT.TRMT_MENU_TEXT
                ,       TRMT.TRMT_INPUT_TY
                ,       TRMT.TRMT_INPUT_NM
                ,       TRMT.TRMT_INPUT_ID
                ,       TRMT.TRMT_INPUT_IP
                ,       TO_CHAR(TRMT.TRMT_INPUT_DT,'YYYY-MM-dd') AS TRMT_INPUT_DT
                ,       TRMT.TRMT_MODER_TY
                ,       TRMT.TRMT_MODER_NM
                ,       TRMT.TRMT_MODER_ID
                ,       TRMT.TRMT_MODER_IP
                ,       TO_CHAR(TRMT.TRMT_MODER_DT,'YYYY-MM-dd') AS TRMT_MODER_DT
                FROM    TM_REST_MENU_TBL TRMT
                ORDER BY TRMT_SEQ DESC
            ) T1
    </select>

    <select id="rentMenuList" resultType="com.example.todaysmenu.restaurant.menu.entity.RestMenuDTO">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.rentMenuList[식당메뉴리스트]*/
        SELECT  TRMT.TRMT_SEQ
        ,       TRMT.TRT_SEQ
        ,       TRMT.TRMT_MENU_NAME
        ,       TO_CHAR(TRMT.TRMT_PRICE,'999,999,999,999,999') || '원' AS TRMT_PRICE_COMMA
        ,       TRMT.TRMT_PRICE
        ,       TRMT.TRMT_MENU_TEXT
        ,       TRMT.TRMT_INPUT_TY
        ,       TRMT.TRMT_INPUT_NM
        ,       TRMT.TRMT_INPUT_ID
        ,       TRMT.TRMT_INPUT_IP
        ,       TO_CHAR(TRMT.TRMT_INPUT_DT,'YYYY-MM-dd') AS TRMT_INPUT_DT
        ,       TRMT.TRMT_MODER_TY
        ,       TRMT.TRMT_MODER_NM
        ,       TRMT.TRMT_MODER_ID
        ,       TRMT.TRMT_MODER_IP
        ,       TO_CHAR(TRMT.TRMT_MODER_DT,'YYYY-MM-dd') AS TRMT_MODER_DT
        FROM    TM_REST_MENU_TBL TRMT
        WHERE   TRT_SEQ = #{trt_seq}
        ORDER BY TRMT_SEQ ASC
    </select>

    <select id="listPaging" resultType="com.example.todaysmenu.restaurant.menu.entity.RestMenuDTO">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.listPaging[목록페이징]*/
        <include refid="pagination.header"/>
        SELECT T1.*
        ,		(
                        SELECT TRST.TRST_STAR_SCORE
                        FROM   TM_REST_STAR_TBL TRST
                        WHERE  TRST_INPUT_ID = #{tmt_login_id}
                        AND 	TRST_PARENT_TYPE = 'MENU'
                        AND    TRST.TRST_PARENT_SEQ = T1.TRMT_SEQ
                 )      AS     TRST_STAR_SCORE
        ,		 NVL((
                        SELECT	ROUND(AVG(TRST_STAR_SCORE),1) || '점'
                        FROM	TM_REST_STAR_TBL TRST
                        GROUP BY TRST_PARENT_SEQ
                        HAVING TRST.TRST_PARENT_SEQ = T1.TRMT_SEQ
                 ),'미평가')      AS     TRST_AVG_SCORE
        ,		 (
                        SELECT TRST.TRST_SEQ
                        FROM   TM_REST_STAR_TBL TRST
                        WHERE  TRST_INPUT_ID = #{tmt_login_id}
                        AND 	TRST_PARENT_TYPE = 'MENU'
                        AND    TRST.TRST_PARENT_SEQ = T1.TRMT_SEQ
                  )     AS     TRST_SEQ
        ,		  NVL((
                        SELECT TO_CHAR(TRST.TRST_TODAY_YMD,'YYYY-MM-dd')
                        FROM   TM_REST_STAR_TBL TRST
                        WHERE  TRST_INPUT_ID = #{tmt_login_id}
                        AND 	TRST_PARENT_TYPE = 'MENU'
                        AND    TRST.TRST_PARENT_SEQ = T1.TRMT_SEQ
                      ),'안먹어본 메뉴')     AS     TRST_TODAY_YMD
        FROM(
                SELECT  TRMT.TRT_SEQ
                ,       TRMT.TRMT_SEQ
                ,       TRMT.TRMT_MENU_NAME
                ,       TO_CHAR(TRMT.TRMT_PRICE,'999,999,999,999,999') || '원' AS TRMT_PRICE_COMMA
                ,       TRMT.TRMT_MENU_TEXT
                ,       TRT.TRT_REST_NAME
                ,       TRT.TRT_REGI
                ,       TRT.TRT_ADDR
                ,       TRT.TRT_FOOD_TYPE
                FROM    TM_REST_MENU_TBL TRMT
                LEFT JOIN TM_REST_TBL TRT
                ON      TRMT.TRT_SEQ = TRT.TRT_SEQ
            ) T1
        <include refid="where"/>
        ORDER BY TRMT_SEQ DESC
        <include refid="pagination.footer"/>
    </select>

    <insert id="insert" parameterType="com.example.todaysmenu.restaurant.menu.entity.RestMenuDTO">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.insert[등록]*/
        INSERT INTO TM_REST_MENU_TBL
        (   TRMT_SEQ
        ,   TRT_SEQ
        ,   TRMT_MENU_NAME
        ,   TRMT_PRICE
        ,   TRMT_MENU_TEXT
        ,   TRMT_INPUT_TY
        ,   TRMT_INPUT_NM
        ,   TRMT_INPUT_ID
        ,   TRMT_INPUT_IP
        ,   TRMT_INPUT_DT
        ,   TRMT_MODER_TY
        ,   TRMT_MODER_NM
        ,   TRMT_MODER_ID
        ,   TRMT_MODER_IP
        ,   TRMT_MODER_DT
        )
        VALUES
        (   TM_TRMT_SEQ.nextval
        ,   #{trt_seq}
        ,   #{trmt_menu_name}
        ,   #{trmt_price}
        ,   #{trmt_menu_text}
        ,   #{trmt_input_ty}
        ,   #{trmt_input_nm}
        ,   #{trmt_input_id}
        ,   #{trmt_input_ip}
        ,   SYSDATE
        ,   #{trmt_moder_ty}
        ,   #{trmt_moder_nm}
        ,   #{trmt_moder_id}
        ,   #{trmt_moder_ip}
        ,   SYSDATE
        )
        <selectKey keyProperty="trmt_seq" resultType="int" order="AFTER">SELECT TM_TRMT_SEQ.CURRVAL FROM DUAL</selectKey>
    </insert>

    <update id="update">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.update[수정]*/
        UPDATE	TM_REST_MENU_TBL
        SET		TRMT_MODER_TY 	    =         #{trmt_moder_ty}
        ,		TRMT_MODER_NM 	    =         #{trmt_moder_nm}
        ,		TRMT_MODER_ID 	    =         #{trmt_moder_id}
        ,		TRMT_MODER_IP	    =         #{trmt_moder_ip}
        ,		TRMT_MODER_DT	    =         SYSDATE
        ,       TRMT_MENU_NAME      =         #{trmt_menu_name}
        ,       TRMT_PRICE          =         #{trmt_price}
        ,       TRMT_MENU_TEXT      =         #{trmt_menu_text}
        WHERE	TRMT_SEQ			=         #{trmt_seq}
    </update>



    <delete id="delete">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.delete[삭제]*/
        DELETE FROM	TM_REST_MENU_TBL
        WHERE	1 = 1
        AND		TRMT_SEQ = #{trmt_seq}
    </delete>

    <delete id="parentDel">
        /*com.example.todaysmenu.restaurant.menu.repository.RestMenuRepository.delete[삭제]*/
        DELETE FROM	TM_REST_MENU_TBL
        WHERE	1 = 1
        AND		TRT_SEQ = #{trt_seq}
    </delete>

</mapper>