<div th:insert="~{include/Header.html}" th:remove="tag"></div>
<style>
    *{
        text-decoration: none;
        list-style: none;
    }
    .slideImgBaseArea {
        position: relative;
        margin: auto;
        width: 700px; height: 400px;
        overflow: hidden;
    }
    .slideImgBaseArea .slideImg , .slideImgBaseArea .slideImg li{
        position: absolute;
        width: 0; height: 100%;
        top: 0; left: 0;
        display: flex;
    }
    .slideImgBaseArea .slideImg li img{
        width: 100%; height: 100%;
    }

    .slideBtn {
        margin:  auto;
        padding: 0;
        background: #766cff;
        opacity: 80%;
        border-radius: 10px;
        width: 700px; height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .slideBtn li{
        font-size: 1.8rem;
        color: white;
        line-height: 50px;
        cursor: pointer;
    }
</style>
<script>
    var slidePxNum = 0;
    var slideCount = 1;
    $(function () {
        var imgSize = "[[${#lists.size(commonFileList)}]]";
        $(".slideImgBaseArea .slideImg , .slideImgBaseArea .slideImg li").css("width",(700 * imgSize));
        $(".slideCountArea").text(slideCount + "/" + imgSize);
        $(".slideBtn .next").on("click", function () {
            slideCount += 1;
            if(slideCount > imgSize) {
                slideCount = 1;
            }
            $(".slideCountArea").text(slideCount + "/" + imgSize);
            slidePxNum -= 700;
            if(slidePxNum <= (-700 * imgSize)){
                slidePxNum = 0;
            }
            $(".slideImg").stop().animate({"left" : "" + slidePxNum+"px"},700);
        });

        $(".slideBtn .prev").on("click", function () {
            slideCount -= 1;
            if(slideCount < 1) {
                slideCount = imgSize;
            }
            $(".slideCountArea").text(slideCount + "/" + imgSize);
            if(slidePxNum == 0) {
                slidePxNum = (-700 * (imgSize-1));
            }else {
                slidePxNum += 700
            }
            $(".slideImg").stop().animate({"left" : "" + slidePxNum+"px"},700);

        });

        $(".plusFileDel").removeAttr("href","").on("click",function () {
            $("#frm").attr("action","/board/delete.do").submit();


        });
    });
</script>
<form method="get" id="frm" >
    <input type="hidden" name="tfb_seq" th:value="${info.tfb_seq}">
    <div class="container mt-3">
        <h2>자유게시판</h2>
        <table class="table">
            <tbody>
            <tr class="table-warning">
                <td>제목</td>
                <td><span th:text="${info.tfb_title_nm}"></span></td>
            </tr>
            <tr class="table-warning">
                <td>작성자</td>
                <td><span th:text="${info.tfb_input_nm}"></span></td>
            </tr>
            <tr class="table-warning">
                <td>내용</td>
                <td><span th:text="${info.tfb_text}"></span></td>
            </tr>
            <tr class="table-warning">
                <td>작성일</td>
                <td><span th:text="${info.tfb_input_dt}"></span></td>
            </tr>
            </tbody>
        </table>
        <th:block th:if="${not #lists.isEmpty(commonFileList)}">
        <div class="slideImgBaseArea">
            <ul class="slideImg" style="margin: 0; padding: 0;">
                <li>
                    <th:block th:each="list : ${commonFileList}">
                        <img th:src="@{|/upload/${list.tcft_change_fine_name}|}" style="width: 100%; height: 100%">
                        <input type="hidden" name="tcft_change_fine_nameArr" th:value="${list.tcft_change_fine_name}">
                    </th:block>
                </li>
            </ul>
        </div>
        <ul class="slideBtn">
            <li class="prev"><</li>
            <li class="slideCountArea">1/4</li>
            <li class="next">></li>

        </ul>
        </th:block>
        <a class="btn btn-success" th:href="@{index.do(pageNum = ${param.pageNum },amount = ${param.amount})}" th:text="목록"></a>
        <a class="btn btn-info" th:href="@{write.do(tfb_seq = ${info.tfb_seq},pageNum = ${param.pageNum },amount = ${param.amount})}" th:text="수정" ></a>
        <div th:replace="~{include/modal/deleteModal::globalDel(board,tfb_seq,${info.tfb_seq})}"></div>

    </div>
</form>
<div th:insert="~{include/footter.html}" th:remove="tag"></div>
