<div th:insert="~{/include/Header.html}" th:remove="tag"></div>
<form method="post" action="/board/proc.do">
    <div class="container mt-3">
        <h2>자유게시판</h2>
        <table class="table">
            <tbody>
            <tr class="table-warning">
                <td>제목</td>
                <td><span th:text="${info.tfb_title_nm}"></span></td>
            </tr>
            <tr class="table-warning">
                <td>작성자</td>
                <td>이동영</td>
            </tr>
            <tr class="table-warning">
                <td>내용</td>
                <td><span th:text="${info.tfb_text}"></span></td>
            </tr>
            <tr class="table-warning">
                <td>작성일</td>
                <td><span th:text="${info.tfb_input_dt}"></span></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-success" href="/board/index.do" th:text="목록"></a>
        <a class="btn btn-info" th:href="@{/board/write.do(tfb_seq = ${info.tfb_seq})}" th:text="수정" ></a>
        <a class="btn btn-danger" th:href="@{/board/delete.do(tfb_seq = ${info.tfb_seq})}" th:text="삭제"></a>
    </div>
</form>
<div th:insert="~{/include/footter.html}" th:remove="tag"></div>
