<!DOCTYPE html>
<html lang="en"
      xmlns:th ="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>오늘의 메뉴</title>

  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">오늘의 메뉴</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/board/index.do">게시판
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <th:block th:if="${session.memberDTO == null}">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="/loginForm.do"><span class="nav-item"></span>로그인</a></li>
          <li><a class="nav-link" href="/join.do"><span class="nav-item"></span>회원가입</a></li>
        </ul>
      </th:block>
      <th:block th:unless="${session.memberDTO == null}">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="#"><span class="nav-item"></span>회원관리</a></li>
          <li><a class="nav-link" href="#"><span class="nav-item"></span>회원정보수정</a></li>
          <li><a class="nav-link" href="#"><span class="nav-item"></span>프로필사진등록</a></li>
          <li><a class="nav-link" href="/logout.do"><span class="nav-item"></span>로그아웃</a></li>
        </ul>
      </th:block>
    </div>
  </div>
</nav>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    if([[${result != null}]]){
      $("#ModalType").attr("class", [[${result}]]);
    }
    if ([[${msgType != null}]]) {
      $("#commonModal").modal("show");
    }
  });
  /*]]>*/
</script>
<div th:replace="~{/include/modal/modal:: commonModal (${msgType}, ${msg})}"></div>
