<div th:insert="~{/include/Header.html}" th:remove="tag"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        if ([[${msgType != null}]]) {
            $("#commonModal").modal("show");
        }
    });

    function registerCheck() {
        var tmt_login_id = $("#tmt_login_id").val();
        $.ajax({
            url: "registerCheck.do",
            type: "get",
            data: {"tmt_login_id": tmt_login_id}, //서버로 전송할 데이터
            success: function (result) {
                if (result == 1) {
                    modalMess("중복체크","사용할 수 있는 아이디입니다.","success");
                } else {
                    modalMess("중복체크","사용할 수 없는 아이디입니다.","danger");
                }
                $("#commonModal").modal("show");

            },
            error: function () {
                alert("error");
            }

        });
    }

    function passChk() {
        var tmt_pass_word1 = $("#tmt_pass_word1").val();
        var tmt_pass_word2 = $("#tmt_pass_word2").val();
        if (tmt_pass_word1 != tmt_pass_word2) {
            $("#passMessage").attr("style", "color: red")
            $("#passMessage").html("비밀번호가 서로 일치하지 않습니다.");
        } else {
            $("#passMessage").attr("style", "color: green")
            $("#passMessage").html("비밀번호가 서로 일치합니다.")
            $("#passawordResult").val(tmt_pass_word1);
        }

    }
    
    function ageChk(){
        var tmt_memb_age= $("#tmt_memb_age").val();
        if(tmt_memb_age == null || tmt_memb_age == ""){
            modalMess("나이체크","나이를 입력해주세요","danger");
        }else{
            $("#frm").submit();
        }
    }
    function modalMess(head,body,footter) {
        $("#modalHead").html(head);
        $("#ModalMessage").html(body);
        $("#ModalType").attr("class", "btn btn-"+footter);
        $("#commonModal").modal("show");
    }
    /*]]>*/
</script>
<div class="container mt-3">
    <form id="frm" method="post" action="/register.do">
        <input type="hidden" id="passawordResult" name="tmt_pass_word" value="">
        <table class="table table-bordered" style="text-align: center; border: 1px solid #dddddd;">
            <tr>
                <td style="width: 120px; vertical-align: middle;">아이디</td>
                <td><input id="tmt_login_id" name="tmt_login_id" class="form-control" type="text" maxlength="20"
                           placeholder="아이디를 입력하세요."></td>
                <td style="width: 120px;">
                    <button type="button" class="btn btn-primary btn-sm" onclick="registerCheck();">중복확인</button>
                </td>
            </tr>

            <tr>
                <td style="width: 120px; vertical-align: middle;">비밀번호</td>
                <td colspan="2"><input id="tmt_pass_word1" name="tmt_pass_word1" onkeyup="passChk();"
                                       class="form-control" type="password" maxlength="20" placeholder="비밀번호를 입력하세요.">
                </td>
            </tr>

            <tr>
                <td style="width: 120px; vertical-align: middle;">비밀번호 확인</td>
                <td colspan="2"><input id="tmt_pass_word2" name="tmt_pass_word2" onkeyup="passChk();"
                                       class="form-control" type="password" maxlength="20" placeholder="비밀번호를 확인해주세요.">
                </td>
            </tr>
            <tr>
                <td style="width: 120px; vertical-align: middle;">비밀번호 결과</td>
                <td colspan="2" id="passMessage">
                </td>
            </tr>

            <tr>
                <td style="width: 120px; vertical-align: middle;">사용자 이름</td>
                <td colspan="2"><input id="tmt_memb_name" name="tmt_memb_name" class="form-control" type="text"
                                       maxlength="20" placeholder="이름을 입력해주세요."></td>
            </tr>

            <tr>
                <td style="width: 120px; vertical-align: middle;">나이</td>
                <td colspan="2"><input id="tmt_memb_age" name="tmt_memb_age" class="form-control" type="number"
                                       maxlength="20" placeholder="나이를 입력해주세요."></td>
            </tr>

            <tr>
                <td style="width: 120px; vertical-align: middle;">성별</td>
                <td colspan="2">
                    <div class="form-group" style="text-align: center; margin: 0 auto;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" id="tmt_memb_gender" name="tmt_memb_gender" autocomplete="off"
                                       value="남자"
                                       checked>남자
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" id="tmt_memb_gender" name="tmt_memb_gender" autocomplete="off"
                                       value="여자">여자
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 120px; vertical-align: middle;">이메일</td>
                <td colspan="2"><input id="tmt_memb_email" name="tmt_memb_email" class="form-control" type="text"
                                       maxlength="20" placeholder="이메일을 입력해주세요."></td>
            </tr>
        </table>
        <button type="button" class="btn btn-success" th:text="등록" onclick="ageChk();"></button>
    </form>
</div>
<div th:insert="~{/include/footter.html}" th:remove="tag"></div>

