<div th:insert="~{/include/Header.html}" th:remove="tag"></div>
<script>
    $(document).ready(function () {
        $("#frmList").attr("action", "");
        var frmList = $("#frmList");
        $(".page-item a").on("click", function (e) {
            $("input[name='search']").val("");
            e.preventDefault();
            console.log("click");
            frmList.find("input[name='pageNum']").val($(this).attr("href"));
            frmList.submit();
        });
        $("#reset").on("click", function (e) {
            $("select[name='trt_food_typeSh']").val("");
            $("select[name='trt_regiSh']").val("");
            $("input[name='search']").val("");
            paramReset();
            frmList.submit();
        });
        $("#searchButton").on("click", function (e) {
            paramReset();
            frmList.submit();
        });
        $("#searchInput").on("keyup", function (key) {
            if (key.keyCode == 13) {
                paramReset();
                frmList.submit();
            }
        });
    });
    function selectAll(selectAll) {
        $('input[name="trt_seq"]').prop('checked', selectAll.checked);
    }
    function setPageAmount() {
        // paramReset();
        $("[name='amount']").val($("#pageAmount").val());
        $("#frmList").submit();
    }
    function paramReset() {
        $("input[name='pageNum']").val("1");
        $("input[name='amount']").val("10");
    }
</script>
<style>
    ul {
        justify-content: center;
    }
    #title {
        font-size: 3rem;
        background: greenyellow;
        border-radius: 15px;
        width: 300px; height: 100px;
        text-align: center; line-height: 100px;
        transition: all 0.5s;
        cursor: pointer;
    }
    #title:hover {
        background: dodgerblue;
        color: white;
    }
    .searchBox {
        transition: all 0.5s;
    }
    .searchBox:hover {
        border-radius: 40px;
        border: 5px solid blue;

    }
</style>
<form method="get" id="frmList">
    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
    <div class="form-group">
        <div class="container pt-5">
            <p id="title">식당 리스트</p>
            <p>점심시간 무엇을 먹을지 고민하는 분들에게 오늘의 메뉴를 추천해드립니다.</p>
            <div class="container p-5 my-5 bg-secondary text-white searchBox">
                <h1 style=" width: 100px ;height: 50px; text-align: center; line-height: 50px; border-radius: 10px; margin : 0 0 50px 0;">검색</h1>



                <span style="font-size: 1.2rem; color: white;  margin-right: 10px;">지역</span>
                <select name="trt_regiSh" class="form-select" aria-label="Small select example" style="width: 100px;  margin-bottom: 20px; margin-right: 10px; display: inline; ">
                    <option th:text="ALL" value=""></option>
                    <option th:text="서울" value="서울" th:selected="${#strings.toString(param.trt_regiSh)} == '서울'"></option>
                    <option th:text="경기" value="경기" th:selected="${#strings.toString(param.trt_regiSh)} == '경기'"></option>
                    <option th:text="인천" value="인천" th:selected="${#strings.toString(param.trt_regiSh)} == '인천'"></option>
                </select>

                <span style="font-size: 1.2rem; color: white;  margin-right: 10px;">식당타입</span>
                <select name="trt_food_typeSh" class="form-select" aria-label="Small select example" style="width: 100px;  margin-bottom: 20px; margin-right: 10px; display: inline; ">
                    <option th:text="ALL" value=""></option>
                    <option th:text="한식" value="한식" th:selected="${#strings.toString(param.trt_food_typeSh)} == '한식'"></option>
                    <option th:text="중식" value="중식" th:selected="${#strings.toString(param.trt_food_typeSh)} == '중식'"></option>
                    <option th:text="일식" value="일식" th:selected="${#strings.toString(param.trt_food_typeSh)} == '일식'"></option>
                    <option th:text="양식" value="양식" th:selected="${#strings.toString(param.trt_food_typeSh)} == '양식'"></option>
                    <option th:text="기타" value="기타" th:selected="${#strings.toString(param.trt_food_typeSh)} == '기타'"></option>
                </select>
                <input class="form-control me-2" type="search" placeholder="식당명을 입력해주시길 바랍니다." aria-label="Search"
                       name="search" id="searchInput" th:value="${param.search}">


                <br>
                <button class="btn btn-warning" type="button" style="float:right;" id="reset">초기화</button>
                <button class="btn btn-success" type="button" style="float:right;" id="searchButton">검색</button>
            </div>

            <select class="form-select" id="pageAmount" style="width: 100px;float:right;" onchange="setPageAmount()">
                <option th:text="10" th:value="10" th:selected="${#strings.toString(param.amount)} == '10'"></option>
                <option th:text="30" th:value="30" th:selected="${#strings.toString(param.amount)} == '30'"></option>
                <option th:text="50" th:value="50" th:selected="${#strings.toString(param.amount)} == '50'"></option>
                <option th:text="100" th:value="100" th:selected="${#strings.toString(param.amount)} == '100'"></option>
            </select>
            <table class="table table-hover">
                <thead>

                <tr class="table-active">
                    <th scope="col">
                        <input class="form-check-input" type="checkbox" onclick="selectAll(this);">
                    </th>
                    <th scope="col">번호</th>
                    <th scope="col">식당명</th>
                    <th scope="col">지역</th>
                    <th scope="col">식당타입</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="list : ${list}">
                    <tr class="table-light">
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" name="trt_seq" th:value="${list.trt_seq}">
                        </th>
                        <td scope="row" th:text="${list.row_num}"></td>
                        <td>
                            <a class="move" style="text-decoration:none"
                               th:href="@{/restaurant/view.do(trt_seq = ${list.trt_seq},pageNum = ${pageMaker.cri.pageNum},amount = ${pageMaker.cri.amount})}"
                               th:text="${list.trt_rest_name}"></a>
                        </td>
                        <td th:text="${list.trt_regi}"></td>
                        <td th:text="${list.trt_food_type}"></td>
                        <td th:text="${list.trt_input_id}"></td>
                        <td th:text="${list.trt_input_dt}"></td>
                        <td th:text="${list.trt_count}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
            <br>
            <th:block th:if="${#lists.size(list) > 0}">
                <div class="pull-right">
                    <ul class="pagination">
                        <th:block th:if="${pageMaker.prev}">
                            <li class="page-item">
                                <a class="page-link" th:href="${pageMaker.startPage - 1}">&laquo;</a>
                            </li>
                        </th:block>
                        <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}"
                                  th:with="currentPageNum=${param.pageNum }">
                            <li th:class="'page-item' + (${#strings.toString(num) == #strings.toString(currentPageNum)} ? ' active' : '') + (${currentPageNum == null &&  numStat.index == 0} ?  ' active' : '')">
                                <a class="page-link" th:href="${num}" th:text="${num}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageMaker.next}">
                            <li class="page-item">
                                <a class="page-link" th:href="${pageMaker.startPage} + 10">&raquo;</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <a class="btn btn-success" href="/restaurant/write.do" role="button" style="float:right;">등록</a>
            <div th:replace="~{/include/modal/delChkModal::globalChkBtn(restaurant)}" th:remove="tag"></div>
        </div>
    </div>
</form>
<div th:insert="~{/include/footter.html}" th:remove="tag"></div>
