<div th:insert="~{include/Header.html}" th:remove="tag"></div>
<style>
    body{
        height: 100%;
    }

    .restArea {
        width: 60%; height: 950px;
        background: #88b275;
        margin: 50px auto;
        border-radius: 20px;
        border: 1px solid black;
    }
    .restAreaTitle{
        font-size: 3.5rem;
        text-align: center;

    }
    #menuArea {
        margin: auto;
        padding-top: 50px;
        width: 60%; height: 300px;
        background: #fff1c1;
        border-radius: 20px;
        transition: all 0.5s;


    }

    .menuText {
        font-size: 3rem;
        text-align: center;
    }
    .menuTable {
        width: 80%; height: 60px;
        margin: auto;
        border-radius: 20px;


    }
    .procBtnArea {
        width: 60%; height: 60px;
        margin: 20px auto;

    }
    .procBtnArea button, a{
        float: right;
        text-align: right;
    }
    .menuTable tr{
        border-radius: 20px;
        height: 40px;

    }
    .menuTable tr td{

        text-align: center;

        /*border: 1px solid black;*/
    }
    .menuBtnArea {
        display: flex;

    }
    .menuTable tr{
        border: 1px solid black;
    }

    .menuTable tr td div{
        width: 80px; height: 40px;
        border-radius: 20px;
        line-height: 40px;
        cursor: pointer;
    }
    .menuTable tr td div:first-child {
        background: #766cff;
    }
    .menuTable tr td div:first-child:hover {
        transition: all 0.3s;
        background: #8CFF85;

    }
    .menuTable tr td div:last-child {
        background: #fc5069;
    }
    .menuTable tr td div:last-child:hover {
        transition: all 0.3s;
        background: #ff8585;

    }

    .hashTagTr td , .menuTitleTr td{
        border: 1px solid black;
    }

    .hashTagTd ul{
        top: 10px;
        margin: 0 auto;
        display: flex;
        height: 100%;
        line-height: 40px;

    }
    .hashTagTd ul li{
        margin-top: 3px;
        padding-right: 10px;
        width: auto; height: 40px;
        background: #cccccc;
        border-radius: 15px;
        text-align: center;
        line-height: 40px;
    }
    .hashTagTd ul li .xBtn{
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.2s;
    }
    .hashTagTd ul li .xBtn:hover{
        font-size: 1.4rem;
    }

</style>
<script>
    let menuAreaHeight = 300;
    $(function () {
        $(document).on("keydown","input[type=text]", function() {
            if (event.keyCode === 13) {
                event.preventDefault();
            }
        });
        let menuShowLength = $(".menuCopyAreaShow").length;
        let menuName =  $(".menuCopyAreaShow input[name=trmt_menu_nameArr]");
        let menuPrice =  $(".menuCopyAreaShow input[name=trmt_priceArr]");
        let menuTextArr =  $(".menuCopyAreaShow input[name=trmt_menu_textArr]");
        menuAreaCopyFunc();
        menuAreaHeight += (menuShowLength * 50);
        if(menuName.val() != null) {
            menuName.attr("name","trmt_menu_nameArrUpdate");
        }
        if(menuPrice.val() != null) {
            menuPrice.attr("name","trmt_priceArrUpdate");
        }
        if(menuTextArr.val() != null) {
            menuTextArr.attr("name","trmt_menu_textArrUpdate");
        }



        $("#menuArea").css("height",menuAreaHeight);

        if(menuShowLength > 1) {
            $(".menuCopyAreaShow:last-child").remove();
        }


        $(document).on("click",".menuPlusBtn",function () {
            menuAreaCopyFunc();
            menuAreaHeight += 150;
            $("#menuArea").css("height",menuAreaHeight)
            console.log($(".menuCopyAreaShow").index())
        });
        $(document).on("click",".menuRemoveBtn",function () {
            menuShowLength = $(".menuCopyAreaShow").length;
            if(menuShowLength === 1) {
                modalMess("메뉴 상태 알림창","메뉴 입력창이 1개인경우 제거하실 수 없습니다.","danger")
            }else {
                let menuObjQuery =  $(this).closest(".menuCopyAreaShow")
                let trmtSeq = menuObjQuery.find("input[name = trmt_seq]").val();
                if(trmtSeq != null) {
                    menuObjQuery.find("input[name = trmt_menu_nameArrUpdate]").attr("name","trmt_menu_nameArrDelete");
                    menuObjQuery.find("input[name = trmt_priceArrUpdate]").attr("name","trmt_priceArrDelete");
                    menuObjQuery.find("input[name = trmt_menu_textArrUpdate]").attr("name","trmt_menu_textArrDelete");
                    menuObjQuery.find("input[name = trmt_seq]").attr("name","trmt_seqArrDelete");
                    $(this).closest(".menuCopyAreaShow").attr("class","menuCopyAreaShowDelete").hide();
                }else {
                    $(this).closest(".menuCopyAreaShow").remove();
                }

                menuAreaHeight -= 100;
                $("#menuArea").css("height",menuAreaHeight)
            }

        });

        $(document).on("keyup",".keyword",function () {

            if (window.event.keyCode == 13) {
                let inputVal = $(this).parent().parent().find("input");
                let keywordIdx = $(this).parent().closest("div").index() -1;
                console.log(keywordIdx)
                if(!inputVal.val() == "") {
                    $(this).parent().parent().find("ul").append("<input type=\"hidden\" name=\"list["+keywordIdx+"].trmkw_key_word\" value=\""+inputVal.val()+"\">")
                    $(this).parent().parent().find("ul").append(" <li><span class=\"xBtn\">❌</span>#"+inputVal.val()+"</li>")
                }
                $(".keyword").val("")

            }

        })
        $(document).on("click",".xBtn",function () {
            $(this).parent().prev().remove();
            $(this).parent().remove();

        });



    });
    const menuAreaCopyFunc = () => {
        $( ".menuCopyAreaHide" ).clone().appendTo("#menuArea").attr("class","menuCopyAreaShow");
        $(".menuCopyAreaShow").show();
    }

</script>


<form method="post" action="/restaurant/proc.do" enctype="multipart/form-data">
    [[${keywordList1}]]
    <input type="hidden" name="trt_seq" th:value="${param.trt_seq}">
    <input type="hidden" name="pageNum" th:value="${param.pageNum}">
    <input type="hidden" name="amount" th:value="${param.amount}">
    <div class="container pt-5 restArea">
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">식당명</label>
            <input type="text" class="form-control" placeholder="식당명을 입력해주세요." id="inputDefault" name="trt_rest_name" th:value="${info.trt_rest_name}">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">식당 주소</label>
            <input type="text" class="form-control" placeholder="주소를 입력해주세요." name="trt_addr" th:value="${info.trt_addr}">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">식당 타입</label>
            <select class="form-select"  style=" width: 100px" name="trt_food_type">
                <option th:text="한식" th:value="한식" th:selected="${info.trt_food_type} == '한식'"></option>
                <option th:text="일식" th:value="일식" th:selected="${info.trt_food_type} == '일식'"></option>
                <option th:text="양식" th:value="양식" th:selected="${info.trt_food_type} == '양식'"></option>
                <option th:text="중식" th:value="중식" th:selected="${info.trt_food_type} == '중식'"></option>
                <option th:text="기타" th:value="기타" th:selected="${info.trt_food_type} == '기타'"></option>
            </select>
            <label class="col-form-label mt-4" for="inputDefault">지역</label>
            <select class="form-select" name="trt_regi" style=" width: 100px">
                <option th:text="서울" th:value="서울" th:selected="${info.trt_regi} == '서울'"></option>
                <option th:text="경기" th:value="경기" th:selected="${info.trt_regi} == '경기'"></option>
                <option th:text="인천" th:value="인천" th:selected="${info.trt_regi} == '인천'"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">내용</label>
            <textarea class="form-control" id="" rows="10" placeholder="내용을 입력해주세요" name="trt_rest_text" th:text="${info.trt_rest_text}"></textarea>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">이미지 첨부</label>
            <input type="file" class="form-control" id="inputGroupFile01"  name="trft_multi_file" multiple>
        </div>



    </div>
    <div id="menuArea">
        <p class="menuText">메뉴 등록</p>





<!--        <th:block th:each="list, listState : ${rentMenuList}">-->
<!--            <tr>-->
<!--                <td style="width: 150px" th:text="${list.trmt_menu_name}"></td>-->
<!--                <td style="width: 150px" th:text="${list.trmt_price_comma}"></td>-->
<!--                <td th:text="${list.trmt_menu_text}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td style="background: #e3e3e3">해시태그</td>-->
<!--                <td colspan="2" style="background: #e3e3e3">-->
<!--                    <th:block th:with="keywordList='keywordList' + ${listState.index}">-->
<!--                        <span th:each="keyword : ${#vars[keywordList]}">#<span th:text="${keyword.trmkw_key_word}+' ' "></span></span>-->
<!--                    </th:block>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </th:block>        -->





        <th:block th:each="list, listState : ${rentMenuList}">
            <div class="menuCopyAreaShow" style="display: none">
                <table class="menuTable">
                    <tr class="menuTitleTr">
                        <td style="width: 150px">메뉴명</td>
                        <td style="width: 150px">가격</td>
                        <td>상세내용</td>
                        <td style="width: 150px">추가/제거</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="메뉴" name="trmt_menu_nameArr" th:value="${list.trmt_menu_name}">
                            <input type="hidden" class="form-control" name="trmt_seqArr" th:value="${list.trmt_seq}">
                            <input type="hidden" class="form-control" name="trmt_seq" th:value="${list.trmt_seq}">

                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="가격" name="trmt_priceArr" th:value="${list.trmt_price}">

                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="상세내용" name="trmt_menu_textArr" th:value="${list.trmt_menu_text}">
                        </td>
                        <td class="menuBtnArea">
                            <div class="menuPlusBtn">추가</div>
                            <div class="menuRemoveBtn">제거</div>
                        </td>
                    </tr>
                    <tr class="hashTagTr">
                        <td>해시태그</td>
                        <td>
                            <input type="text" class="form-control keyword" placeholder="해시태그 입력" >
                        </td>
                        <td colspan="2"  class="hashTagTd">
                            <ul>
                                <th:block th:with="keywordList='keywordList' + ${listState.index}">
                                    <span th:each="keyword: ${#vars[keywordList]}">
                                        <li>
                                            <span class="xBtn"  th:text="'❌' + '#' +${keyword.trmkw_key_word}"/>
                                            <input type="hidden" th:name="list+'['+${listState.index}+']'+.trmkw_key_word" th:value="${keyword.trmkw_key_word}">
                                        </li>
                                    </span>
                                </th:block>


                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </th:block>

    </div>
    <div class="procBtnArea">
        <div th:replace="~{/include/modal/procModal::globalProcBtn(${info.trt_seq},restaurant)}"></div>
    </div>



</form>
<div class="menuCopyAreaHide" style="display: none">
    <table class="menuTable">
        <tr class="menuTitleTr">
            <td style="width: 150px">메뉴명</td>
            <td style="width: 150px">가격</td>
            <td>상세내용</td>
            <td style="width: 150px">추가/제거</td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="메뉴" name="trmt_menu_nameArr">

            </td>
            <td>
                <input type="number" class="form-control" placeholder="가격" name="trmt_priceArr">

            </td>
            <td>
                <input type="text" class="form-control" placeholder="상세내용" name="trmt_menu_textArr">
            </td>
            <td class="menuBtnArea">
                <div class="menuPlusBtn">추가</div>
                <div class="menuRemoveBtn">제거</div>
            </td>
        </tr>
        <tr class="hashTagTr">
            <td>해시태그</td>
            <td><input type="text" class="form-control keyword" placeholder="해시태그 입력" >
            </td>
            <td colspan="2"  class="hashTagTd">
                <ul></ul>
            </td>

        </tr>
    </table>
</div>
<div th:insert="~{include/footter.html}" th:remove="tag"></div>


