<div th:insert="~{include/Header.html}" th:remove="tag"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d7c247130688fc47e72341dd6fa5081c"></script>
<script>

    $(function () {
        let restAddress = "[[${info.trt_addr}]]"
        $.ajax({
            url : "https://dapi.kakao.com/v2/local/search/address.json",
            headers : {"Authorization": "KakaoAK 16fb04781943e64fdcd7acf19c7170db"},
            type : "get",
            data : {"query" : restAddress},
            dataType : "json",
            success : mapView,
            error : function () {
                modalMess("실패 메시지", "위치를 불러오는데 실패하였습니다.", "danger");
            }


        });

        var slidePxNum = 0;
        var slideCount = 1;
        var imgSize = "[[${#lists.size(restFileList)}]]";
        $(".slideImgBaseArea .slideImg , .slideImgBaseArea .slideImg li").css("width",(700 * imgSize));
        $(".slideCountArea").text(slideCount + "/" + imgSize);
        $(".slideBtn .next").on("click", function () {
            slideCount += 1;
            if(slideCount > imgSize) {
                slideCount = 1;
            }
            $(".slideCountArea").text(slideCount + "/" + imgSize);
            slidePxNum -= 700;
            if(slidePxNum <= (-700 * imgSize)){
                slidePxNum = 0;
            }
            $(".slideImg").stop().animate({"left" : "" + slidePxNum+"px"},700);
        });

        $(".slideBtn .prev").on("click", function () {
            slideCount -= 1;
            if(slideCount < 1) {
                slideCount = imgSize;
            }
            $(".slideCountArea").text(slideCount + "/" + imgSize);
            if(slidePxNum == 0) {
                slidePxNum = (-700 * (imgSize-1));
            }else {
                slidePxNum += 700
            }
            $(".slideImg").stop().animate({"left" : "" + slidePxNum+"px"},700);

        });

        $(".plusFileDel").removeAttr("href","").on("click",function () {
            $("#frm").attr("action","/restaurant/delete.do").submit();


        });

    });
    function mapView(data) {

        var x = data.documents[0].x;
        var y = data.documents[0].y;

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(y, x), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치입니다
        var position =  new kakao.maps.LatLng(y, x);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: position,
            clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
        });

        // 아래 코드는 위의 마커를 생성하는 코드에서 clickable: true 와 같이
        // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
        // marker.setClickable(true);

        // 마커를 지도에 표시합니다.
        marker.setMap(map);

        // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
        var iwContent = '<div style="padding:5px;">[[${info.trt_rest_name}]]</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        infowindow.open(map, marker);
        // 마커에 클릭이벤트를 등록합니다
        // kakao.maps.event.addListener(marker, 'click', function() {
        //     // 마커 위에 인포윈도우를 표시합니다
        //
        // });
    }

    function startInsertFunc(score,trmtSeq,trstSeq) {
        let starScoreVal = $(score).val();
        let parentType = "REST";
        if(trstSeq < 1) {
            trstSeq = 0;
        }
        $.ajax({
            url: "/star/proc.do",
            type: "post",
            data: {
                "trst_star_score": starScoreVal,
                "trst_parent_type": parentType,
                "trst_parent_seq": trmtSeq,
                "trst_seq": trstSeq,
            }, // 서버로 전송할 데이터
            success: function(result) {
                modalMess("메시지", "별점주기에 성공하였습니다.", "success");
            },
            error: function(xhr, status, error) {
                console.error("AJAX Error:", status, error);
                alert("AJAX Error: " + error); // 에러 메시지를 표시
            }
        });

    }





</script>
<style>
    tr td:first-child{
        width: 100px;
    }
    .table {
        width: 80%;
        margin: 50px auto;
        border: 1px solid #adadad;

    }
    tr, td {
        border: 1px solid rgba(101, 57, 57, 0.35);

    }


    *{
        text-decoration: none;
        list-style: none;
    }
    .slideImgBaseArea {
        position: relative;
        margin: auto;
        width: 700px; height: 400px;
        overflow: hidden;
    }
    .slideImgBaseArea .slideImg , .slideImgBaseArea .slideImg li{
        position: absolute;
        width: 0; height: 100%;
        top: 0; left: 0;
        display: flex;
    }
    .slideImgBaseArea .slideImg li img{
        width: 100%; height: 100%;
    }

    .slideBtn {
        margin:  auto;
        padding: 0;
        background: #766cff;
        opacity: 80%;
        border-radius: 10px;
        width: 700px; height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .slideBtn li{
        font-size: 1.8rem;
        color: white;
        line-height: 50px;
        cursor: pointer;
    }

</style>
<form method="get" id="frm">
    <input type="hidden" name="trt_seq" th:value="${info.trt_seq}">
   <div class="container mt-3">
        <h2>식당 상세보기</h2>
        <table class="table">
            <tbody>
            <tr>
                <td style="padding-top: 15px;">식당명</td>
                <td style="padding-top: 15px;"><span th:text="${info.trt_rest_name}"></span></td>
                <td style="padding-top: 15px; width: 100px;">별점 평가</td>
                <td style="width: 300px;">
                    <select name="trst_star_score" class="form-select" aria-label="Small select example" style="width: 250px;" th:onchange="startInsertFunc(this,[[${info.trt_seq}]],[[${info.trst_seq}]])">
                        <option th:text="'미평가'" value=""></option>
                        <option th:text="1점" value="1" th:selected="${info.trst_star_score} == '1'"></option>
                        <option th:text="2점" value="2" th:selected="${info.trst_star_score} == '2'"></option>
                        <option th:text="3점" value="3" th:selected="${info.trst_star_score} == '3'"></option>
                        <option th:text="4점" value="4" th:selected="${info.trst_star_score} == '4'"></option>
                        <option th:text="5점" value="5" th:selected="${info.trst_star_score} == '5'"></option>
                    </select>
                </td>
                <td style="padding-top: 15px; width: 130px;">회원평균별점</td>
                <td style="padding-top: 15px;"><span th:text="${info.trst_avg_score}"></span></td>
            </tr>
            <tr>
                <td>지역</td>
                <td colspan="5"><span th:text="${info.trt_regi}"></span></td>
            </tr>
            <tr>
                <td>주소</td>
                <td colspan="5"> <span th:text="${info.trt_addr}"></span></td>
            </tr>
            <tr>
                <td >지도</td>
                <td colspan="5"><div id="map" style="width:100%;height:350px;"></div></td>
            </tr>
            <tr>
                <td>식당 타입</td>
                <td colspan="5"><span th:text="${info.trt_food_type}"></span></td>
            </tr>
            <tr style="height: 300px; ">
                <td style="line-height: 300px; ">식당 내용</td>
                <td colspan="5"><span  th:text="${info.trt_rest_text}"></span></td>
            </tr>
            <th:block th:if="${not #lists.isEmpty(restFileList)}">
            <tr style="height: 300px; " class="trImg">
                <td style="line-height: 300px; ">식당 사진</td>
                <td colspan="5">

                        <div class="slideImgBaseArea">
                            <ul class="slideImg" style="margin: 0; padding: 0;">
                                <li>
                                    <th:block th:each="list : ${restFileList}">
                                        <img th:src="@{|/upload/${list.trft_change_file_name}|}" style="width: 100%; height: 100%">
                                        <input type="hidden" name="trft_change_file_nameArr" th:value="${list.trft_change_file_name}">
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                        <ul class="slideBtn">
                            <li class="prev"><</li>
                            <li class="slideCountArea">1/4</li>
                            <li class="next">></li>

                        </ul>

                </td>
            </tr>
            </th:block>
            <tr>
                <td>작성자</td>
                <td colspan="5"><span th:text="${info.trt_input_nm}"></span></td>
            </tr>
            <tr>
                <td>작성일</td>
                <td colspan="5"><span th:text="${info.trt_input_dt}"></span></td>
            </tr>
            <tr>
                <td>조회수</td>
                <td colspan="5"><span th:text="${info.trt_count}"></span></td>
            </tr>

            </tbody>
        </table>

        <th:block th:if="${not #lists.isEmpty(rentMenuList)}">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 150px">메뉴명</th>
                    <th style="width: 150px">가격</th>
                    <th>상세내용</th>
                </tr>
                <th:blcok th:each="list : ${rentMenuList}">
                    <tr>
                        <td style="width: 150px" th:text="${list.trmt_menu_name}"></td>
                        <td style="width: 150px" th:text="${list.trmt_price_comma}"></td>
                        <td th:text="${list.trmt_menu_text}"></td>
                    </tr>
                </th:blcok>

            </table>
        </th:block>
        <a class="btn btn-success" th:href="@{/restaurant/index.do(pageNum = ${param.pageNum },amount = ${param.amount})}" th:text="목록"></a>
        <a class="btn btn-info" th:href="@{/restaurant/write.do(trt_seq = ${info.trt_seq},pageNum = ${param.pageNum },amount = ${param.amount})}" th:text="수정" ></a>
        <div th:replace="~{/include/modal/deleteModal::globalDel(restaurant,trt_seq,${info.trt_seq})}"></div>


    </div>
</form>
<div th:insert="~{include/footter.html}" th:remove="tag"></div>
