<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=d7c247130688fc47e72341dd6fa5081c&libraries=services"></script>
<div th:insert="~{include/Header.html}" th:remove="tag"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>




<style>


    body{
        height: 100%;
    }

    .restArea {
        width: 60%; height: 1100px;
        background: #88b275;
        margin: 50px auto;
        border-radius: 20px;
        border: 1px solid black;
    }
    .restArea label {
        font-size: 1.3rem;
    }
    #map{
        border-radius: 20px;
    }
    .restAreaTitle{
        font-size: 3.5rem;
        text-align: center;

    }
    #menuArea {
        margin: auto;
        padding-top: 50px;
        width: 60%; height: 300px;
        background: #fff1c1;
        border-radius: 20px;
        transition: all 0.5s;


    }

    .menuText {
        font-size: 3rem;
        text-align: center;
    }
    .menuTable {
        width: 80%; height: 60px;
        margin: auto;
        border-radius: 20px;


    }
    .procBtnArea {
        width: 60%; height: 60px;
        margin: 20px auto;

    }
    .procBtnArea button, a{
        float: right;
        text-align: right;
    }
    .menuTable tr{
        border-radius: 20px;
        height: 40px;

    }
    .menuTable tr td{

        text-align: center;

        /*border: 1px solid black;*/
    }
    .menuBtnArea {
        display: flex;

    }
    .menuTable tr{
        border: 1px solid black;
    }

    .menuTable tr td div{
        width: 80px; height: 40px;
        border-radius: 20px;
        line-height: 40px;
        cursor: pointer;
    }
    .menuTable tr td div:first-child {
        background: #766cff;
    }
    .menuTable tr td div:first-child:hover {
        transition: all 0.3s;
        background: #8CFF85;

    }
    .menuTable tr td div:last-child {
        background: #fc5069;
    }
    .menuTable tr td div:last-child:hover {
        transition: all 0.3s;
        background: #ff8585;

    }

    .hashTagTr td , .menuTitleTr td{
        border: 1px solid black;
    }

    .hashTagTd ul{
        top: 10px;
        margin: 0 auto;
        display: flex;
        height: 100%;
        line-height: 40px;

    }
    .hashTagTd ul li{
        margin-top: 3px;
        padding-right: 10px;
        width: auto; height: 40px;
        background: #cccccc;
        border-radius: 15px;
        text-align: center;
        line-height: 40px;
    }
    .hashTagTd ul li .xBtn{
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.2s;
    }
    .hashTagTd ul li .xBtn:hover{
        font-size: 1.4rem;
    }


</style>


<script>
    var geocoder;
    var mapContainer;
    var marker;
    var map;
    let menuAreaHeight = 300;
    $(function () {
        $(document).on("keydown","input[type=text]", function() {
            if (event.keyCode === 13) {
                event.preventDefault();
            }
        });
        let menuShowLength = $(".menuCopyAreaShow").length;
        menuAreaCopyFunc();
        $(document).on("click",".menuPlusBtn",function () {
            menuAreaCopyFunc();
            menuAreaHeight += 150;
            $("#menuArea").css("height",menuAreaHeight)
            console.log($(".menuCopyAreaShow").index())
        });
        $(document).on("click",".menuRemoveBtn",function () {
            menuShowLength = $(".menuCopyAreaShow").length;
            if(menuShowLength == 1) {
                alert("지울 수 없음")
            }else {
                $(this).closest(".menuCopyAreaShow").remove();
                menuAreaHeight -= 100;
                $("#menuArea").css("height",menuAreaHeight)
            }
        });
        $(document).on("keyup",".keyword",function () {

            if (window.event.keyCode == 13) {
                let inputVal = $(this).parent().parent().find("input");
                let keywordIdx = $(this).parent().closest("div").index() -1;
                console.log(keywordIdx)
                if(!inputVal.val() == "") {
                    $(this).parent().parent().find("ul").append("<input type=\"hidden\" name=\"list["+keywordIdx+"].trmkw_key_word\" value=\""+inputVal.val()+"\">")
                    $(this).parent().parent().find("ul").append(" <li><span class=\"xBtn\">❌</span>#"+inputVal.val()+"</li>")
                }
                $(".keyword").val("")

            }

        })
        $(document).on("click",".xBtn",function () {
            $(this).parent().prev().remove();
            $(this).parent().remove();

        });

        mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

        //지도를 미리 생성
        map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        geocoder = new window.daum.maps.services.Geocoder();
        //마커를 미리 생성
        marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(37.537187, 127.005476),
            map: map
        });


    });
    const menuAreaCopyFunc = () => {
        $( ".menuCopyAreaHide" ).clone().appendTo("#menuArea").attr("class","menuCopyAreaShow");
        $(".menuCopyAreaShow").show();
    }


//     =============주소 영역=========



    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                console.log("======================" + data)
                var addr = data.address; // 최종 주소 변수
                console.log("addr=========================",addr)
                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    console.log("======================" + results)

                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {


                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                        $(".restArea").css("height","1400px");
                    }
                });
            }
        }).open();
    }
</script>


<form method="post" action="/restaurant/proc.do" enctype="multipart/form-data"  id="frm">
    <div class="container pt-5 restArea">
        <p class="restAreaTitle">식당 등록</p>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">식당명</label>
            <input type="text" class="form-control" placeholder="식당명을 입력해주세요." id="inputDefault" name="trt_rest_name">
        </div>
        <div class="form-group mapArea>
            <label class="col-form-label mt-4" for="inputDefault">지도</label>
            <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">식당 주소</label>
            <input type="text" id="sample5_address" placeholder="주소"  class="form-control" name="trt_addr" readonly>
            <input type="button"   onclick="sample5_execDaumPostcode()"  value="주소 검색"><br>
        </div>

        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">식당 타입</label>
            <select class="form-select"  style=" width: 100px" name="trt_food_type">
                <option th:text="한식" th:value="한식"></option>
                <option th:text="일식" th:value="일식"></option>
                <option th:text="양식" th:value="양식"></option>
                <option th:text="중식" th:value="중식"></option>
                <option th:text="기타" th:value="기타"></option>
            </select>
            <label class="col-form-label mt-4" for="inputDefault">지역</label>
            <select class="form-select" name="trt_regi" style=" width: 100px">
                <option th:text="서울" th:value="서울"></option>
                <option th:text="경기" th:value="경기"></option>
                <option th:text="인천" th:value="인천"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">내용</label>
            <textarea class="form-control" id="" rows="10" placeholder="내용을 입력해주세요" name="trt_rest_text"></textarea>
        </div>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">이미지 첨부</label>
            <input type="file" class="form-control" id="inputGroupFile01"  name="trft_multi_file" multiple>
        </div>

    </div>
    <div id="menuArea">
        <p class="menuText">메뉴 등록</p>

    </div>
    <div class="procBtnArea">
        <div th:replace="~{include/modal/procModal::globalProcBtn(null,restaurant)}"></div>
    </div>



</form>
<div class="menuCopyAreaHide" style="display: none">
    <table class="menuTable">
        <tr class="menuTitleTr">
            <td style="width: 150px">메뉴명</td>
            <td style="width: 150px">가격</td>
            <td>상세내용</td>
            <td style="width: 150px">추가/제거</td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="메뉴" name="trmt_menu_nameArr">

            </td>
            <td>
                <input type="number" class="form-control" placeholder="가격" name="trmt_priceArr">

            </td>
            <td>
                <input type="text" class="form-control" placeholder="상세내용" name="trmt_menu_textArr">
            </td>
            <td class="menuBtnArea">
                <div class="menuPlusBtn">추가</div>
                <div class="menuRemoveBtn">제거</div>
            </td>
        </tr>
        <tr class="hashTagTr">
            <td>해시태그</td>
            <td><input type="text" class="form-control keyword" placeholder="해시태그 입력" >
            </td>
            <td colspan="2"  class="hashTagTd">
                <ul></ul>
            </td>

        </tr>
    </table>
</div>

<div th:insert="~{include/footter.html}" th:remove="tag"></div>