<div th:fragment="globalChkBtn(p1)">
  <a class="btn btn-danger" href="#" role="button" style="float:right;" id="showDelModal">삭제</a>
  <div class="modal" id="delModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">삭제</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>체크된 항목을 삭제하시겠습니까?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn btn-danger" id="delChk">삭제</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="chkValue">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">체크여부</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>체크박스를 1개 이상 선택해주시길 바랍니다.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#showDelModal").on("click", function (e) {
        if (!$("input[type='checkbox']:checked").length) {
          $("#chkValue").modal("show");
        } else {
          e.preventDefault();
          $("#delModal").modal("show");
        }

      });
      $("#delChk").on("click", function (e) {
        $("#frmList").attr("action", "/[[${p1}]]/delChk.do").submit();
      });

    });
  </script>
</div>