<div th:insert="~{include/Header.html}" th:remove="tag"></div>
<div th:replace="~{include/modal/modal:: commonModal (${msgType}, ${msg})}"></div>
<div class="container mt-3"  th:object="${memFile}">
  <h2>메인</h2>



  <a class="btn btn-danger" href="/board/index.do" role="button">게시판</a>
  <a class="btn btn-info" href="/restaurant/index.do" role="button">식당리스트</a>
  <a class="btn btn-primary" href="/restMenu/index.do" role="button">메뉴리스트</a>
  <a class="btn btn-success" href="/restMenu/recommendMenu.do?recomNum=1" role="button">오늘의 메뉴 추천 이동</a>
</div>
<div th:insert="~{include/footter.html}" th:remove="tag"></div>