<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todaysmenu.member.repository.MemberRepository">
    <sql id="where">
        WHERE 1 = 1
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(search)">
            AND     UPPER(T1.TMT_LOGIN_ID) || UPPER(T1.TMT_MEMB_NAME) LIKE '%' || UPPER(#{search}) || '%'
        </if>
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(gender)">
            AND     T1.TMT_MEMB_GENDER = #{gender}
        </if>
         <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(startDate)">
            AND     T1.TMT_INPUT_DATE <![CDATA[>=]]> #{startDate}
        </if>
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(endDate)">
            AND     T1.TMT_INPUT_DATE <![CDATA[<=]]> #{endDate}
        </if>
        <if test="@com.example.todaysmenu.lib.mybatis.Util@isNotEmpty(userType)">
            AND     T1.TMT_USER_TYPE = #{userType}
        </if>
    </sql>

    <select id="count" resultType="int">
        /*com.example.todaysmenu.member.repository.MemberRepository.count[회원수]*/
        SELECT	COUNT(1)
        FROM	TM_MEMBER_TBL T1
        <include refid="where"/>
    </select>

    <select id="registerCheck" resultType="com.example.todaysmenu.member.entity.MemberDTO">
        /*com.example.todaysmenu.member.repository.MemberRepository.registerCheck[중복확인]*/
        SELECT  TMT_SEQ
        ,       TMT_LOGIN_ID
        ,       TMT_PASS_WORD
        ,       TMT_MEMB_NAME
        ,       TMT_MEMB_AGE
        ,       TMT_MEMB_GENDER
        ,       TMT_MEMB_EMAIL
        ,       TMT_MEMB_BIRTH_DAY
        ,       TMT_MEMB_FILE
        ,       TMT_INPUT_DATE
        FROM    TM_MEMBER_TBL TMT
        WHERE   TMT_LOGIN_ID = #{tmt_login_id}
    </select>

    <select id="memberList" resultType="com.example.todaysmenu.member.entity.MemberDTO">
        /*com.example.todaysmenu.member.repository.MemberRepository.memberList[멤버정보]*/
        <include refid="pagination.header"/>
            SELECT  T1.*
            FROM(
                    SELECT  TMT_SEQ
                    ,       TMT_LOGIN_ID
                    ,       TMT_PASS_WORD
                    ,       TMT_MEMB_NAME
                    ,       TMT_MEMB_AGE
                    ,       TMT_MEMB_GENDER
                    ,       TMT_MEMB_EMAIL
                    ,       TMT_USER_TYPE
                    ,       TMT_MEMB_BIRTH_DAY
                    ,       TMT_MEMB_FILE
                    ,       TO_CHAR(TMT.TMT_INPUT_DATE,'YYYY-MM-dd') AS TMT_INPUT_DATE
                    ,       CASE WHEN TMT_USER_TYPE = 'master' THEN '관리자'
                                 WHEN TMT_USER_TYPE = 'manager' THEN '매니저'
                                 WHEN TMT_USER_TYPE = 'user' THEN '사용자'
                            END AS TMT_USER_TYPE_CUSTOM
                    FROM    TM_MEMBER_TBL TMT
                 ) T1
        <include refid="where"/>
        ORDER BY TMT_SEQ DESC
        <include refid="pagination.footer"/>
    </select>


    <insert id="register" parameterType="com.example.todaysmenu.member.entity.MemberDTO">
        /*com.example.todaysmenu.member.repository.MemberRepository.register[회원가입]*/
        INSERT INTO TM_MEMBER_TBL
        (   TMT_SEQ
        ,   TMT_LOGIN_ID
        ,   TMT_PASS_WORD
        ,   TMT_MEMB_NAME
        ,   TMT_MEMB_AGE
        ,   TMT_MEMB_GENDER
        ,   TMT_MEMB_EMAIL
        ,   TMT_MEMB_BIRTH_DAY
        ,   TMT_INPUT_DATE
        )
        VALUES
        (   TM_TMT_SEQ.nextval
        ,   #{tmt_login_id}
        ,   #{tmt_pass_word}
        ,   #{tmt_memb_name}
        ,   #{tmt_memb_age}
        ,   #{tmt_memb_gender}
        ,   #{tmt_memb_email}
        ,   SYSDATE
        ,   SYSDATE
        )
        <selectKey keyProperty="tmt_seq" resultType="String" order="AFTER">SELECT TM_TMT_SEQ.CURRVAL FROM DUAL</selectKey>
    </insert>

    <update id="memberUpdate"  parameterType="com.example.todaysmenu.member.entity.MemberDTO">
        /*com.example.todaysmenu.member.repository.MemberRepository.memberUpdate[회원정보수정]*/
        UPDATE	TM_MEMBER_TBL
        SET		TMT_LOGIN_ID 	        = #{tmt_login_id}
        ,		TMT_PASS_WORD 	        = #{tmt_pass_word}
        ,		TMT_MEMB_NAME 	        = #{tmt_memb_name}
        ,		TMT_MEMB_AGE	        = #{tmt_memb_age}
        ,       TMT_MEMB_GENDER         = #{tmt_memb_gender}
        ,       TMT_MEMB_EMAIL          = #{tmt_memb_email}
        ,       TMT_MEMB_FILE           = #{tmt_memb_file}
        ,       TMT_MODER_DATE          = SYSDATE
        WHERE	TMT_SEQ			        = #{tmt_seq}
    </update>

    <select id="login" resultType="com.example.todaysmenu.member.entity.MemberDTO" parameterType="com.example.todaysmenu.member.entity.MemberDTO">
        /*com.example.todaysmenu.member.repository.MemberRepository.login[로그인]*/
        SELECT  TMT.*
        FROM    TM_MEMBER_TBL TMT
        WHERE   TMT_LOGIN_ID = #{tmt_login_id}
    </select>

    <update id="userTypeUpdate"  parameterType="com.example.todaysmenu.member.entity.MemberDTO">
        /*com.example.todaysmenu.member.repository.MemberRepository.userTypeUpdate[회원권한정보수정]*/
        UPDATE	TM_MEMBER_TBL
        SET		TMT_USER_TYPE 	        = #{tmt_user_type}
        WHERE	TMT_SEQ			        = #{tmt_seq}
    </update>


</mapper>