<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pagination">
    <sql id="header">
        SELECT  ROWNUM AS ROW_NUM
        ,       T1.*
        FROM(
                SELECT  T1.*
                ,       ROWNUM AS RN
                FROM(
    </sql>
    <sql id="footer">
            ) T1
            WHERE   ROWNUM <![CDATA[<=]]> #{pageNum} * #{amount}
        ) T1
        WHERE   RN > (#{pageNum}-1) * #{amount}
    </sql>
</mapper>